<div class="row">
    <div class="row">
        <div class="col-md-12">
            <span class="plaintext">* Create a quiz by adding problems.</span>
            <br/>
            <div class="col-md-10">
                <textarea class="form-control" rows="2" ng-model="currentQuiz.title" placeholder="Add Title for the quiz."></textarea>
            </div>
            <div class="col-md-2">
                <button ng-model="ddSelectSelected" ng-click="createProblem()">Add Problem</button>
            </div>
        </div>

        <div class="col-md-12">
            <!--<button class="btn btn-primary" >
                <div dropdown-select="ddSelectOptions"
                     dropdown-model="ddSelectSelected"
                     dropdown-item-label="text"
                     dropdown-onchange="createProblem(selected)">
                </div>
            </button>-->

        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-12 questions-go-here">


            <div ng-show="divAddProblem">
                <div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-success btn-sm "
                                            ng-click="addOptionsToProblem()">ADD OPTION</button>
                                </div>
                                <div class="panel-title">
                                    <div class="question" contenteditable="true">
                                        <span class="glyphicon glyphicon-tasks"></span>
                                        &nbsp;
                                        <input ng-model="newProblem.title"  placeholder="Add Question here." ng-style="titleStyleErr" ng-keypress="titleStyleErr = {}"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">

                            <div ng-show="optionErr == 'newProbErr'" style="color:red">
                                <span> Please add options to add the question.</span>
                            </div>
                            <div ng-repeat="o in newProblem.optionArr" class="input-group" style="margin-bottom:3px">
                                <span class="input-group-addon add-option">
                                     <input type="{{newProblem.prob_type}}"  ng-checked="o.is_correct"  name="nProblem" />
                                </span>
                                <input type="text" class="form-control" placeholder="{{o.opt_text}}" />
                                 <span class="input-group-addon" ng-click="removeThisOptionfromProblem(o.opt_id)">
                                        <span class="glyphicon glyphicon-fire "></span>
                                 </span>
                            </div>

                            <div ng-show="newProblemOptionDiv">
                                <div class="option" style="margin-bottom: 3px">
                                    <div class="input-group">
                                        <span class="input-group-addon add-option">
                                            <input type="{{newProblem.prob_type}}" ng-model="newProblem.correctOption" ng-value="true" ng-change="setRadioValue(true)" name="nProblem" />
                                        </span>
                                        <input type="text" class="form-control" placeholder="Add option name" ng-model="newProblem.newOption.optText"/>
                                        <span class="input-group-addon remove-radio-opt" ng-click="addThisOptionToProblem()">
                                                <span class="glyphicon glyphicon-ok " ></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer">
                            <div class="pull-right">
                                <button class="btn btn-success btn-sm  add-sel" ng-click="addNewProblem()">ADD PROBLEM </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="p in currentQuiz.problemArray">

                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <button class="btn btn-success btn-sm "
                                        ng-click="addOptions(p.id)">ADD OPTION</button>
                            </div>
                            <div class="panel-title">
                                <div class="question" contenteditable="true">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    &nbsp;<input ng-model="p.title"  value="{{p.title}}" placeholder="{{p.title}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div ng-show="optionErr == '{{p.id}}'" style="color:red">
                                <span> Please add options to add the question.</span>
                            </div>
                            <div ng-repeat="o in p.optionArray">
                                <div class="option" style="margin-bottom:3px">
                                    <div class="input-group">
                                        <span class="input-group-addon add-option">
                                            <input type="{{p.type}}" ng-checked="{{o.is_correct}}" name="{{p.id}}">
                                        </span>
                                        <input type="text" class="form-control" placeholder="{{o.opt_text}}"/>
                                        <span class="input-group-addon" ng-click="removeOption(p.id,o.opt_id)">
                                            <span class="glyphicon glyphicon-fire "></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="createOptionDiv == '{{p.id}}'">
                                <div class="option" style="margin-bottom: 3px">
                                    <div class="input-group">
                                        <span class="input-group-addon add-option">
                                            <input type="{{p.type}}"  ng-model="newOption.isCorrect" ng-value="true" name="{{p.id}}">
                                        </span>
                                        <input type="text" class="form-control" placeholder="Add option name" ng-model="newOption.optText"/>
                                        <span class="input-group-addon remove-radio-opt" ng-click="addThisOption(p.id)">
                                                <span class="glyphicon glyphicon-ok " ></span>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="pull-right">
                                <button class="btn btn-danger btn-sm  del-sel" ng-click="removeProblem(p.id)" >DELETE </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-show="showSaveNPost == 'yes'">

                    <div class="col-md-3">
                        <span class="plaintext">Set due Date for quiz : </span>
                    </div>
                    <div class="input-group col-md-8">
                        <input type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="duedt.dt" is-open="mydp.opened" min-date="minDate" max-date="'2015-06-22'"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)"
                               ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <br/>

                    <!-- date picker ends here. -->
                    <div class="col-md-12">
                        <button class="btn btn-warning" ng-click="saveQuiz()">Save</button>&nbsp;&nbsp;
                        <button class="btn btn-warning" ng-click="saveNPostQuiz()">Save and Post</button>
                    </div>
            </div>

        </div>
    </div>
</div>