<div class="row">
    <tabset justified="true">
        <tab heading="Search Youtube">
            <br/>
            <div class="col-md-12">
                <div class="col-md-9" >
                       <input type="text" class="form-control" ng-model="search_input" placeholder="Search for youtube videos"/>
                </div>
                <div class="col-md-3" >
                    <button ng-click="search()" class="btn btn-primary" >Submit</button>
                </div>
                 <div class="col-md-12">
                   <div  ng-repeat="element in vitems" style="margin-top:3%;margin-bottom:3%;">
                       <div class="panel panel-default">
                           <div class="panel-heading">{{element.snippet.title}}</div>
                           <div class="panel-body">
                               {{element.snippet.description}}
                           </div>
                       </div>
                       <div>
                           <object width="425" height="350">
                               <param name="movie" value="http://www.youtube.com/v/{{element.id.videoId}}" />
                               <embed src="http://www.youtube.com/v/tIBxavsiHzM"
                                      type="application/x-shockwave-flash" width="425" height="350" />
                           </object>
                       </div>
                      <!-- <div class="embed-responsive embed-responsive-4by3">
                           <object width="420" height="315"
                                   data="http://www.youtube.com/v/{{element.id.videoId}}" class="embed-responsive-item"></object>
                       </div>-->
                   </div>
                 </div>
            </div>
        </tab>
        <tab heading="Search Books">
            <br/>
            <div class="col-md-9">
                <input type="text" class="form-control" ng-model="search.book" placeholder="Search for book " />
            </div>
            <div class="col-md-3" >
                <button ng-click="searchBook()" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-12">

                <div ng-repeat="book in bitems" >
                    <div class="panel panel-default" style="margin-bottom:2%;">
                        <div class="panel-heading">Title : </span>{{book.Title}}</div>
                        <div class="panel-body">
                            <div class="col-md-8">
                                <span >ISBN : {{book.isbn}}</span><br/>
                                <span>Description : </span>{{book.Description}}<br/>
                                <a ng-href="{{$scope.book_detail.Author}}"></a>{{$scope.book_detail.Author}}
                                <input type="hidden" ng-model="book_id" ng-value="change({{book.ID}})"  />
                            </div>
                            <div class="col-md-4">
                                <img ng-src="{{book.Image}}" class="img-thumbnail" ng-model=book_id />
                            </div>

                        </div>
                    </div>
                </div>

                <!--<div class="well-sm" ng-repeat="book in bitems" >
                    <div style="margin-bottom:1%;">
                        <div class="col-md-12"> <span>Title : </span>{{book.Title}}</div>
                        <div class="col-md-12"> <span >ISBN : {{book.isbn}}</span></div>
                        <div class="col-md-12 "><span>Description : </span>{{book.Description}} </div>
                        <div class="col-md-12"><a ng-href="{{$scope.book_detail.Author}}"></a>{{$scope.book_detail.Author}}</div>
                        <div class="col-md-12"><img ng-src="{{book.Image}}" class="img-thumbnail" ng-model=book_id /></div>
                        <div><input type="hidden" ng-model="book_id" ng-value="change({{book.ID}})"  /></div>
                    </div>
                </div>-->
            </div>
        </tab>
    </tabset>
</div>