<div ng-repeat="e in oldQuizzesForCourse" >
    <div class="row">
        <a href=""  ng-click="showOldQuiz(e.id)">
            <div class="a-quiz" >
                <div class="a-quiz-title">
                    <div class="pull-left">
                        <span class="truncate">{{e.quiz.title}}</span>
                    </div>
                </div>
                <div class="a-quiz-body">
                    <div class="quiz-body-inner">Date created </div>
                    <div class="quiz-body-inner">{{ e.quiz.last_modified  |  date : mediumDate }}</div>&nbsp;
                    <div class="quiz-body-inner">Due on</div>
                    <div class="quiz-body-inner">{{ e.quiz.due_date  |  date : mediumDate }}</div>
                </div>
                <div class="a-quiz-footer">
                    <span class="glyphicon glyphicon-edit pull-right" ng-click="showOldQuiz(e.id)"></span>
                </div>
            </div>
        </a>
    </div>
    <div ng-show="old_quiz == '{{e.id}}'">
        <!--showing quiz number {{e.id}}-->
        <div class="row">
            <div class="row">
                <textarea class="form-control" rows="2" disabled="true">Quiz Title : {{e.quiz.title}}</textarea>
            </div>
            <br/>
            <div class="row">
                <div ng-repeat="p in e.quiz.problemArray">

                    <div class="panel panel-success">

                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="question" >
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    &nbsp;<span >Problem {{p.id }} :</span>&nbsp;<span >{{p.title}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div ng-repeat="o in p.optionArray">
                                <div class="option" style="margin-bottom: 3px;">
                                    <div class="input-group">
                                        <span class="input-group-addon add-option">
                                            <input type="{{p.type}}" ng-checked="{{o.is_correct}}"  name="{{p.id}}" disabled="true"/>
                                        </span>
                                        <input type="text" class="form-control" placeholder="{{o.opt_text}}" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-warning" ng-click="resetQuiz()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="old_quiz == 'none'"></div>
</div>