
    <div class="row">
        <div ng-show="courses == 'available'">
            <div class="table-responsive">
                <table class="table table-hover" style="text-align:center;text-transform:capitalize;">
                    <thead >
                        <tr>
                            <th style="text-align:center;">Course Name</th>
                            <th style="text-align:center;">Description</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in availCourses">
                            <td>{{c.name }} </td>
                            <td>{{c.description}}</td>
                            <td><button class="btn btn-primary" ng-click="enroll(c._id)">Enroll</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-show="courses == 'not_available'">
            <h4>No courses available to enroll.</h4>
        </div>
    </div>
