/*html{
    background-image: url(/design/images/woven1656.png);
}*/
body {
    background-image: url(/design/images/subtle1507.png);
    font-family: 'Julee', cursive;
    font-size: 1.5em;

}


.container {
    min-height: 660px;
    background-image: url(/design/images/subtle1507.png);
    background-position: inherit;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: rgb(244, 244, 244);
    color: #020A30;
    font-stretch: extra-expanded;
    font-weight: 300;
    padding-top: 2%;
}

.main-container {
    background-color: rgb(237, 237, 236);
    z-index: 10;
    opacity: 0.8;
    min-height: 600px;
    border-radius: 2px 2px 2px 2px;
}

.loginDiv{
    margin: 0px auto;
    padding-left: 20%;
    padding-right: 20%;
}

.plaintext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.dash-li{

    text-transform:capitalize;
    text-align: center;
    background-color: rgb(244, 244, 244);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #FFFFFF;
}

.dash-li :hover{
    background-color: rgb(244, 244, 244);

}
.course_li{
    text-transform:capitalize;
    text-align: center;
    background-color: rgb(244, 244, 244);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #FFFFFF;


}

.course_li :hover{
   /* background-color: #9F704C;*//*
    -webkit-transform: scale(1.05,1.07) ;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07) ;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 250ms;*/

}

.glyphicon-fire {
    color: red;
   /* opacity: 0.5;
    -webkit-transform: scale(1.05,1.07) ;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07) ;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 250ms;
    -o-transform: skew(5deg,10deg);
    -o-transition-timing-function: ease-in-out;
    -o-transition-duration: 250ms;
    transform:skew(5deg,10deg);*/
}

.glyphicon-folder-open:hover {
    color: #07A355;
}
.glyphicon-pencil  {
    color: #E3C714;
}

.glyphicon-ok:hover{
    color:darkgreen;
}

a{
    color : inherit;
}

a :hover{
    color : #9F704C;

}


.dash-li {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid  #9F704C;
}
.dash-body{
    padding-top : 2%;
    padding-right:2%;
    padding-left:2%;
}

.no-courses {
    padding-top: 2%;
    text-align: left;
}

.btn{
    letter-spacing:2px;
}

.yes-courses {
    padding : 2%;
}

.cleft-panel{
    padding:2%;
}

.cright-panel {
    padding: 2%;
}

.course-top{
    margin-bottom:4%;
}
.course-info {
    background-color: rgb(231, 228, 240);
}

.quiz-button{
    text-align:right;
    margin-bottom:2%;
}

.a-quiz {
    width: 190px;
    height: 220px;
    padding: 5px;
    border: 0.5em ridge rgb(237, 237, 236);
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
    background-color: #F6F6F6;
}

.a-quiz-title {
    width: 100%;
    height: 15.68%;
    border: 0.5em ridge rgb(237, 237, 236);
    margin-bottom: 1px;
}
.a-quiz-body {
    width: 100%;
    height: 75.9%;
    border: 0.5em ridge rgb(237, 237, 236);
    margin-bottom: 1px;
}

.quiz-body-inner {
    width:100%;
    height:auto;
    text-align:center;

}

.a-quiz-footer {
    width: 100%;
    height: auto;
}

.course-form{
    margin-bottom:2%;
}

.logout{
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
}